/*============================================================
 Min 
==============================================================*/

@media only screen and (min-width: 480px) {
    
    .skills .col-md-8.col-md-offset-2 {
        width: 65%;
        margin-left: 16.66666667%;
    }
    
    .hover-overlay:hover {
        background-color: #000;
    }
    .hover-overlay:hover h3,
    .hover-overlay:hover p {
        color: #E0E0E0;
    }
    
    .work_area ul {
        width: 480px;
        margin: auto;
    }
    
    .blog .guzheng {
        padding-right: 5px;
    }
    
    .blog .bouldering {
        padding-right: 10px;
        padding-left: 10px;
    }
    
    .blog .woodshop {
        padding-left: 5px;
    }
}


@media (min-width: 768px) {

   .skills .col-md-8.col-md-offset-2 {
        width: 100%;
        margin-left: 0%;
    }
    
    .about_us_area .uncollapse-margin {
        margin-left: -15px;
    }
    
    .work_area .row {
        margin-left: 2px;
    }
    
    .timeline {
        text-align: center;
        margin-left: -72px;
        padding-right: 28px;
    }
}

@media (min-width: 992px) {

   .features .col-md-offset-3 {
        margin-right: 25%;
    }
    
    .carousel-adjust {
        width: 60%;
    }
    
    .navbar.navbar-default.navbar-fixed-top, .navbar-right {
        z-index: -10;
    }
    
    #VERT-CENTRE {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -54%);
    }
    
    .navbar.navbar-default.navbar-fixed-top.portfolio-page,
    .navbar-right.portfolio-page {
        z-index: 1000 !important;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 20%;
    }
    
    .sticky-image {
        position: fixed;
        width: 30%;
        max-width: 380px;
        top: 23%;
        padding-left: 12px;
    }
    
    .blog_title ul li {
        margin-right: -12px;
        padding-top: 12px;
    }
}

@media (min-width: 1200px) {

    .margin-align {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .about_us_area img.img-fixed {
        margin-left: 2.7em;
    }
    
    .about_us_area img.img-responsive {
        margin-left: -52px;
    }
    
    .sticky-image {
        position: fixed;
        width: 30%;
        max-width: 380px;
        top: 21%;
        padding-left: 12px;
    }
}

/*============================================================
 Max 
==============================================================*/

@media only screen and (max-width: 1200px) {
    
    .header.header-important,
    .header.header-important span,
    .header.header-important h2 {
        margin: auto;
        text-align: center;
        float: none;
        display: block;
        margin-top: 12px;
    }
    
    .header.header-important {
        margin-top: 20px;
    }
    
    .work_area .double p {
        margin-top: -12px;
    }

    .work_area p.single {
        margin-top: 0px;
    }
    
/*
    .about_title {
        margin-top: 40px;
    }
*/
    
    .about_title h2.header-position.index {
        margin-left: auto;
    }
    
    .blog_title.edited.expanded-margin {
        margin-right: -16px;
    }
    
    .about_us_area img.img-responsive {
        margin-left: -24px;
    }
}

@media only screen and (max-width: 991px) {

    .about_us_p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .navbar-default {
        border: 0;
        background-color: transparent;
    }
    
    .navbar, .navbar-right {
        overflow: visible;
        position: static;
    }
    
    .navbar-right a.nav-home {
        margin-left: 63px;
    }
    
    .navbar-right a.nav-experiences {
        margin-left: 6px;
    }
    
    .navbar-right a.nav-inspiration {
        margin-left: 8px;
    }
    
    .navbar-right a.nav-more {
        margin-left: 57px;
    }
    
    nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink {
        position: fixed;
        top: 0;
    }

    .navbar-default .navbar-toggle {
        border-color: transparent;
        margin-right: 16px;
    }

    .navbar-default .navbar-collapse {
        border-color: transparent;
/*        background: rgba(242,212,162,0.65);*/
        height: 220px;
        width: 150px;
        padding-left: 0px;
    }
    
    a.btn.btn-services.btn-lg.full-length.float-right {
        width: 115px;
        margin-right: 28px;
        padding-left: 31px;
        margin-top: 6px;
    }
    
    .navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus,
	.navbar-default .navbar-brand:active,
/*	.navbar-default .navbar-brand.active */
    {
        color: #fff;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        border-radius: 1px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: black;
    }
    
    .navbar-default .navbar-toggle:hover .icon-bar {
/*
        text-shadow: 1.2px 1.2px black;
        background-color: #F2D4A2;
*/
    }
    
    .navbar-default .navbar-nav>li>a.opp-hover {
        width: max-content;
        margin-left: 8px;
    }
    
    .navbar-default .navbar-nav>li>a {
        width: 10px;
    }

    .team-member {
        margin-bottom: 30px;
    }

    .team-member:last-child {
        margin-bottom: 0;
    }

    .member-thumb {
        margin: 0 auto;
    }

    figure.mix:hover figcaption::before,
    figure.mix:hover p {
        line-height: 14px;
    }
    
    .navbar-toggle {
        margin-right: 16px;
    }
    
    .navbar-header img.logo-overlay {
        margin-left: 12px;
    }
    
    div.navbar-collapse.collapse.in,
    div.navbar-collapse.collapsing {
/*        width: 152px;*/
        float: right !important;
        text-align: right;
        box-shadow: none;
        margin-top: 4px;
    }
    
    .navbar {
        height: 60px;
    }
    
    .about_us_area .col-md-4 h4 {
        display: none;
    }  
    
    .about_us_area img.img-fixed {
    margin-bottom: 30px;
    }
    
    .about_us_area div.linkedin {
        margin-top: 15px;
        text-align: center;
    }
    
    .blog_title.edited {
        padding-right: 40px;
    }
    
    .sticky-image {
        position: static;
        width: 50%;
        margin: auto;
/*        margin-bottom: -32px;*/
    }
    
    .blog img {
        margin-left: 0px;
        margin-top: 60px;
/*        margin-bottom: -20px;*/
    }
    
    .blog_title ul li {
        padding-top: 6px;
    }
    
    .blog_title ul li:before {
          top: 5.5px;
    }
    
    .blog_title.edited.expanded-margin {
        margin-right: 0px;
    }
    
    .container.mb-136 {
        margin-bottom: 40px;
    }
    
    .blog_title .portfolio_p {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 767px) {
    #contact_form .center-form{
        text-align: center;
    } 
    
    .work_area .margin-align {
        margin-left: 12px;
        margin-right: 15px;
    }
    .pattern-dots-md {
        transform: translate(-30px, 30px);
    }
    
    .pattern-dots-md.left {
        transform: translate(-10px, 30px);
    }
    
    .project_feature p.img_descript.project_title,
    .project_feature p.img_descript.project_descript {
        margin-left: 0em;
        margin-right: 0em;
    }

    .project_feature p.img_descript.project_title.left,
    .project_feature p.img_descript.project_descript.left {
        margin-left: 0em;
        margin-right: 0em;
    }
    
    .project_feature.left-align h3.right-adjust {
        margin-right: 0px;
    }
    
    .entire-left {
        transform: translateX(0px)
    }
    
    .margin.timeline {
        margin-top: -76px;
        margin-bottom: 60px;
    }
    
    .about_us_area ul {
        padding-left: 0px;
        
    }
    
    .quotes {
        margin-top: -28px;
        margin-bottom: 56px;
    }
    
    .quotes.quotes-fix {
        margin-bottom: 0px;
    }
    
    .h5-center.left-align.center-fix {
        text-align: left;
        margin-bottom: 60px;
        margin-top: 0px;
    }
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .container {
        max-width: 100% !important;
/*        overflow-x: hidden !important;*/
    }
    
    .about_us_area img.img-responsive{
        margin-top: 50px;
    }
}

@media only screen and (max-width: 600px) {
    span.smaller-positions {
        font-size: 50%;
    }
    
    .about_title h2.header-position.index {
        line-height: 1.5em;
        text-align: left;
        padding-left: 16px;
    }    
    
}

@media only screen and (max-width: 540px) {
    
    .row.mt-44 {
        margin: auto;
    }
    
    div.margin-problem.col-xs-offset-2 {
        margin-left: auto;
        margin-top: 44px;
        width: 100%;
    }
    
    .project_feature p.img_descript.project_title.thicker {
        width: 100% !important;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-top: 4px;
    }
}
    
@media only screen and (max-width: 479px) {
    
    .work-item {
        left: 4% !important;
        width: 92%;
    }

    .portfolio_title span {
        font-size: 3em;
    }

    .subsc_title span {
        font-size: 3em;
    }

    .subscribe .fEmail {
        float: left;
        max-width: 200px;
    }

    .subscribe .btn {
        padding-left: 4px;
        padding-right: 4px;
    }

    .blog_title span {
        font-size: 3em;
    };
    
    .features .col-xs-3 {
        width: 50%;
    }
    
    h2.git {
        margin-bottom: 30px;
    }
    
    .work-filter ul li a {
        font-size: 10px;
        padding: 5px 10px;
        letter-spacing: 2px;
    }
    
    .post.hover-overlay {
        width: 100%;
    }
    
    .post.col-xs-4 {
        width: 100%;
    }
    
    .blog .col-xs-4.guzheng,
    .blog .col-xs-4.bouldering,
    .blog .col-xs-4.woodshop {
        padding-right: 30px;
        padding-left: 30px;
    };
    
}

/*============================================================
 Between 
==============================================================*/


@media (min-width: 992px) and (max-width: 1200px) {

    #ABOUT .col-md-offset-1 {
        margin-left: 12%;     
    }
    
    .about_us_p {
        padding-left: 0px;
    }

    .member-thumb {
        width: 230px;
        position: relative;
    }

    figure.mix:hover figcaption::before,
	figure.mix:hover p {
        line-height: 14px;
    };
}

@media (min-width: 768px) and (max-width: 991px) {

    .about_us_p {
        padding-left: 0px;
    }
    
    #VERT-CENTRE {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

/* team */

    .member-thumb .overlay h5 {
        margin: 25px 0;
    }

    .member-thumb {
        margin: 0 auto;
    }

    .member-thumb {
        width: 230px;
        position: relative;
    }
    
/* works */

    .work-item {
        width: 49%;
    }

    .post {
        margin-bottom: 50px;
    };
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .work-item {
        left: 1% !important;
        width: 49%;
    }
    
    #VERT-CENTRE {
        position: absolute;
        top: 50%;
/*        left: 50%;*/
        transform: translate(0%, -50%);
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .work_area .double p {
        margin-top: -28px;
    }

    .work_area p.single {
        margin-top: -15px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 630px) {
    .header.header-important, .header.header-important span, .header.header-important h2{
        width: 90%;
        padding-left:16px;
        margin-left: 16px;
    }
    
    .about_title h2.header-position.index {
        width: 67%;
        padding-left: 0px;
        line-height: 2em;
        font-size: smaller;
        margin-left: 74px;
    }
}

@media only screen and (max-width: 599px) {
    
    .header.header-important, .header.header-important span, .header.header-important h2 { 
        text-align: left;
        padding-left: 0px;
        margin-left: 16px;
    }
    
    .about_title h2.header-position.index {
/*        width: 90%;*/
        line-height: 2em;
        font-size: smaller !important;
        padding-left: 16px;
    }
    
    .text-center {
        text-align: left; 
    }
    
    .about_us_area img.img-responsive {
        margin-left: 0px;
    }
}

@media only screen and (min-width: 539px) and (max-width: 599px) {
    
    .text-center {
        margin-left: 80px;
    }
    
    .header.header-important {
        margin-left: 12px;
    } 
}

@media only screen and (max-width: 630px) {
    .header.header-important span {
        font-size: 32px;
    }
}