html {
    overflow-y: hidden !important; 
    margin-right: 0px !important;
}

body {
    font-family: 'futura-pt', sans-serif;
/*    background-color: #F8DFDB;*/
    background-color: #C8A47E;
/*    background-color: #E6DDDE;*/
/*    background-color: #E6DDDE;*/
    overflow-x: hidden !important; 
    overflow-y: hidden !important; 
}

body.waves::after {
    content: "";
    background: url(../images/topography.svg) repeat-x 0 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    opacity: 0.08;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -100;
    background-attachment: fixed;
}

/*
.section_overlay.waves {
    background-image: url(../images/topography.svg);
}
*/

/*
body.pattern-dots-md {
    background-image: radial-gradient(rgba(242,212,162,0.2)) 1px, transparent 1px) !important;
    background-size: calc(10 * 1px) calc(10 * 1px);
}
*/

p {
    font-family: 'futura-pt', sans-serif;
    font-size: 12px;
    color: #000;
    font-weight: 300;
}

a {
    font-family: 'futura-pt', sans-serif;
    text-decoration: none;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'futura-pt', sans-serif;
}

h1,h2,h3,h4,h5,h6,a,span {
    font-family: 'orpheuspro', serif;
/*    font-weight: 300;*/
}

.mt-12 {
    margin-top: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-32 {
    margin-top: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-44 {
    margin-top: 44px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-56 {
    margin-top: 56px;
}

.mt-64 {
    margin-top: 64px;
}

.mt-68 {
    margin-top: 68px;
}

.mt-72 {
    margin-top: 72px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-110 {
    margin-top: 110px;
}

.mt-150 {
    margin-top: 150px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-54 {
    margin-bottom: 54px;
}

.mb-60 {
    margin-bottom: 64px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mb-136 {
    margin-bottom: 132px;
}

.margin {
    margin-top: 100px;
    margin-bottom: 110px;
}

.margin-2 {
    margin-top: 190px;
    margin-bottom: 125px;
}

.section_overlay {
/*    background-color: rgba(0, 0, 0, 0.25); */
    background-color: #E7D8C5;
/*    background-color: black;*/
    background-repeat: repeat;
    top: 0;
    left: 0;
/*
    background-image: url(../images/topography.svg);
    background-size: 600px 600px;
*/
}

.subscribe .section_overlay {
    background-color: #E7D8C5;
}

.more .section_overlay {
/*
    background-image: url(../images/topography.svg);
    background-size: 600px 600px;
*/
}

.double-line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #efc337;
    width: 20%;
}

.overlay {
    background-color: #fafafa;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 7px;
    opacity: 0;
    -webkit-transition: all 450ms ease-out 0;
    -moz-transition: all 450ms ease-out 0;
    -o-transition: all 450ms ease-out 0;
    transition: all 450ms ease-out 0;
    -webkit-transform: rotateY(180deg) scale(0.5,0.5);
    -moz-transform: rotateY(180deg) scale(0.5,0.5);
    -ms-transform: rotateY(180deg) scale(0.5,0.5);
    -o-transform: rotateY(180deg) scale(0.5,0.5);
    transform: rotateY(180deg) scale(0.5,0.5);
}

.btn {
    background-color: transparent;
    border-radius: 0;
    padding: 12px 30px;
    font-family: 'futura-pt', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 10px;
    border: 1px solid #000;
    outline-offset: 3px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn:hover,.btn:active,.btn:focus,.btn-default.active {
    background-color: black;
    padding: 12px 36px;
    outline: 3px solid black;
    outline-offset: 0;
    border: 1px solid black;
    color: black;
}

a.btn.btn-services.btn-lg.full-length.float-right {
    background-color: transparent;
    border-color: black;
    color: black;
    font-family: 'orpheuspro', serif;
    outline-offset: -1.5px;
    padding-top: 11px;
    padding-bottom: 8.5px;
}

.btn-white {
    color: #fafafa;
}

.col-md-8.no-owl {
    margin-top: 15px;
}

.blurb_quote {
    font-family: 'orpheuspro', serif;
    font-size: 17px;
    display: inline-block;
    margin-right: 6px;
    line-height: 24px;
}

.blurb_quote ul {
    margin-bottom: 0px;
}

.tighter_quote .blurb_quote {
    margin-top: -6px;
    line-height: 28px;
}

.blurb_p {
    font-size: 12px;
    display: inline-block;
}

.blurb_p a {
    color: #efc337;
}

a.italic:hover {
/*    font-weight: 400;*/
    font-style: italic;
}

a.color_change {
    color: #000;
    font-weight: 500;
}

a.color_change:hover {
    color: #efc337;
}

.awesome {
    letter-spacing: 2.5px;
}

/*----------------------------------------------------------------
    Navigation Bar
----------------------------------------------------------------*/

.navbar, .navbar-right {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 97.5%;
    padding-left: 20px;
    margin-bottom: 4px;
}

a.float-right {
    position: absolute;
/*    bottom: 0;*/
    right: 0;
    margin-bottom: auto;
    margin-top: auto;
}

.navbar-default {
    padding: 10px 0;
    border: 0;
    background-color: transparent;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 3px;
    color: #000;
}

.navbar-default.navbar-shrink {
    padding: 5px 0;
/*    background-color: rgba(0,0,0,0.85);*/
    background-color: transparent;
    width: 100%;
/*    border-top: 4px solid #efc337;*/
}

.navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 3.5px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    z-index: 1000;
/*    margin-bottom: -5px;*/
}

.navbar-default .nav li div.resume-button a {
    margin-bottom: 10px;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;

/*    color: #FAD500;*/
/*    color: #A93428;*/
    color: #F2D4A2;
/*    color: #825747;*/
    
/*    color: #E4ED48;*/
/*    color: #E8CA22;*/

/*    color: #364351;*/

    
/*
    color: #67453C;
    color: #5B3C37;
    color: #634139;
*/
/*    text-decoration: line-through;*/
/*    font-weight: bolder;*/
    text-shadow: 1px 1px black;
}

/*
.navbar-default .nav li a.opp-hover:hover,
.navbar-default .nav li a.opp-hover:focus {
    color: black;
    text-shadow: 0.9px 0.9px #C8A47E;
}
*/

.navbar-default .nav li a.button-adjust {
    margin-bottom: -2px;
}

.navbar-toggle {
    margin-right: 0px;
}

.navbar-header img.logo-overlay {
    width: 70px;
    -webkit-filter: brightness(80%); 
/*    margin-left: 12px;*/
}

.navbar-header img.logo-overlay:hover {
    -webkit-filter: brightness(100%); ;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

img.new-logo {
    max-width: 2.3em;
    margin-left: 2em;
    margin-top: 2em;
    z-index: 1030;
    position: fixed;
    top: 0;
}

img.new-logo:hover {
/*    transform: scale(1.05);*/
/*
    filter: invert(82%) sepia(10%) saturate(967%) hue-rotate(359deg) brightness(102%) contrast(97%);
    opacity: 0.7;
*/
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

.navbar.navbar-default.navbar-fixed-top,
.navbar-right {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
}

/*----------------------------------------------------------------
    Header
----------------------------------------------------------------*/

header {
    position: relative;
    width: 100%;
    overflow: hidden;
/*    height: 100%;*/
    height: 127px;
    background: url(../images/header.jpg) 90% 50% no-repeat;
/*    background-attachment: fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #fafafa;
    border-left: 3000px solid transparent;
}

.home_text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.home_text h1 {
    font-family: 'futura-pt', sans-serif;
    color: #fafafa;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 300;
}

.headline.loading-bar span {
    display: inline-block;
    padding-bottom: 10px;
}

.headline.loading-bar .words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.headline.loading-bar .words-wrapper::after {
/* loading bar */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 0;
    background: #efc337;
    z-index: 2;
    -webkit-transition: width .4s -.1s;
    -moz-transition: width .4s -.1s;
    transition: width .4s -.1s;
}

.headline.loading-bar .words-wrapper.is-loading::after {
    width: 70%;
    -webkit-transition: width 3s;
    -moz-transition: width 3s;
    transition: width 3s;
}

.headline.loading-bar b {
    top: 2em;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
}

.headline.loading-bar b.is-visible {
    opacity: 1;
    top: 0;
}

.words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    font-weight: 400;
}

.words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

.scroll-down {
    padding-top: 200px;
}

.linkedin-header {
    margin-left: 5px;
    color: #000;
}

.linkedin-header:hover {
    color: #F2D4A2;
/*    text-shadow: none;*/
}

/*----------------------------------------------------------------
    About
----------------------------------------------------------------*/

.about_title {
    margin-top: 100px;
}

.about_title h2 {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 36px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: -5px;
}

.about_title h2 a {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 36px;
    letter-spacing: 3px;
/*    font-weight: 500;*/
    margin-bottom: -5px;
}

.about_title h2 a:hover,
.about_title h2 a:focus {
/*    color: #F2D4A2;*/
/*    color: #FAD500;*/
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
    text-decoration: none;
}

.about_title h2 a.linkedin-adjust:hover i.linkedin-header {
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
}

.header {
    display: inline-block;
    margin-left: 72px;
    margin-top: 8px;
    vertical-align: top;
}

.about_us_area .header {
    margin-left: 92px;
}

.header.header-important {
    float: left;
}

.about_title .header span {
    text-align: left;
    letter-spacing: 8px;
/*    margin-left: -80px;*/
}

.about_title h2.header-position {
    margin-top: 16px;
/*    text-align: left;*/
}

.about_title.portfolio_subheading {
    margin-top: 68px;
}

.portfolio_subheading .subtitle {
    letter-spacing: 2px;
}

.going_forwards .subtitle {
/*    color: #efc337;*/
}

.about_title h2.less_space {
    margin-top: 32px;
    margin-bottom: -6px;
}

.about_title.going_forwards h2 {
    margin-top: 32px;
}

.about_title.portfolio_subheading.first {
    margin-top: 88px;
}

.about_title.portfolio_subheading h2.header-position {
    font-size: 24px;
    margin-bottom: 32px;
/*    letter-spacing: 1px;*/
}

.about_title h2.header-position.index {
    margin-left: 170px;
}

.about_title.portfolio_header h2.header-position {
    margin-left: 0px;
}

.about_title span {
    font-family: 'linotype-didot-headline', serif;
    transform: scale(1, .95);
/*    font-family: 'orpheuspro', serif;*/
    letter-spacing: 0em;
/*    font-size: 60px;*/
    font-size: 3em;
    color: #efc337;
    color: #825747;
    color: black;
    text-transform: uppercase;
    margin-top: 100px;
    font-weight: 500;
}

.about_title span.period {
    text-shadow: 2px 1.7px rgba(242,212,162,0.65);
    color: black;
}

.about_title.portfolio_header span.ugly:hover {
      text-decoration: underline;
}

.about_title.portfolio_header .header{
    margin-left: 0px;
    margin-top: 0px;
}

.about_us_p {
    font-size: 17px;
/*    line-height: 1.4em;*/
    letter-spacing: 0em;
    font-family: 'futura-pt', sans-serif;
/*    font-family: 'lato';*/
    font-weight: 300;
    padding-top: 20px;
    padding-left: 2.7em;
    padding-right: 2.7em;
    margin-top: -6px;
}

.about_us_p.para_fix {
    margin-top: -12px;
}

.about_us_p.para_fix.too_close {
    margin-top: -24px;
}

.about_us_p.para_fix.portfolio_body {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: normal;
}

.portfolio_body b {
    font-weight: 500;
}

.portfolio_link a {
    color: #efc337;
    font-weight: 500;
}

.portfolio_link a:hover {
    color: #000;
}

.about_us_p b.thicker {
    font-weight: 400;
}

.single_progress_bar {
    margin-bottom: -2px;
}

.single_progress_bar .progress {
    height: 1px;
    overflow: hidden;
    background-color: #D3D3D3;
    border-radius: 0;
    box-shadow: none;
}

.single_progress_bar .progress-bar {
    background-color: #000;
}

.single_progress_bar h2 {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 1px;
    display: inline-block;
}

.single_progress_bar h2.lighter {
    color: #9e9e9e;
    display: inline-block;
    font-weight: 300;
}

.about_us_area h3 {
    margin-top: 4px;
    text-align: left;
    font-weight: 500;
}

.about_us_area h3 a {
    color: black;
}

.about_us_area h3 a:hover,
.about_us_area h3 a:focus {
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
    text-decoration: none;
}

.about_us_area ul {
    list-style: none;
    padding-right: 20px;
    padding-left: 32px;
}

.about_us_area i.fa.fa-check.fa-1x {
    margin-right: 5px;
    color: #efc337;
}

.about_us_area a.full-length {
    width: 100%;
    margin-top: 15px;
}

.about_us_area a.full-length {
    width: 100%;
    margin-top: 15px;
}

.about_us_area div.split-left {
    float: left;
    width: 50%;
}

.about_us_area div.split-right {
    float: right;
    width: 50%;
}

.about_us_area img.img-responsive {
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.about_us_area img.img-responsive:hover {
    transform: scale(1.02);
}

.about_us_area img.img-fixed {
    width: 100px;
    margin-top: 8px;
}

.about_us_area .linkedin-rec {
    display: inline-block;
    vertical-align: top;
    font-weight: 300;
}

.about_us_area .col-md-4 h4 {
    margin-bottom: 30px;
}

.about_us_area .btn.btn-services.btn-lg.full-length {
    margin-bottom: 18px;
}

.about_us_area .linkedin {
/*    text-align: center;*/
    margin-top: 12px;
}

.fa.fa-linkedin.fa-2x {
    color: #000;
    margin-right: 5px;
}

.fa.fa-long-arrow-left {
    color: #000;
    margin-right: 5px;
    vertical-align: text-top;
}

.fa.fa-linkedin.fa-2x:hover {
    color: #efc337;
}

.portfolio_quote {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

/*----------------------------------------------------------------
    Team
----------------------------------------------------------------*/

div.round-pic img {
    max-width: 110px;
    margin: auto;
    border-radius: 100%;
}

.member-thumb {
/*    width: 273px;*/
    position: relative;
    display: inline-block;
}

.member-thumb.round-pic {
    width: auto;
    margin-left: 28px;
}

.team-member span {
    font-size: 11px;
    color: #777;
    letter-spacing: 1px;
    font-weight: 400;
}

.member-thumb .overlay p {
    font-size: 10px;
    color: #000;
    letter-spacing: 3px;
    font-weight: 300;
}

.member-thumb .overlay {
    font-size: 16px;
    padding: 20px;
    line-height: 24px;
}

.team-member h4 {
    color: #000;
    font-size: 11px;
    font-weight: 700;
    line-height: 10px;
    margin: 15px 0 8px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.team-member:hover h4 {
    color: #777;
}

.member-thumb .overlay h5 {
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30%;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000;
}

.member-thumb .overlay.line-fix h5 {
    font-size: 10px;
    line-height: 0px;
    margin-top: 21px;
    margin-bottom: 10px;
    margin-left: 5px;
}

.member-thumb .overlay.line-fix h5.line-fix2 {
    margin-top: 16.5px;
}

.member-thumb:hover .overlay.line-fix {
    cursor: pointer;
    cursor: hand;
    opacity: 0.8;
    -webkit-transform: rotateY(0deg) scale(1,1);
    -moz-transform: rotateY(0deg) scale(1,1);
    -ms-transform: rotateY(0deg) scale(1,1);
    -o-transform: rotateY(0deg) scale(1,1);
    transform: rotateY(0deg) scale(1,1);
/*
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
*/
}

.social-links {
    font-size: 13px;
    cursor: pointer;
    cursor: hand;
}

.social-links a {
    display: inline-block;
    padding: 3px 7px;
    color: #000;
}

.social-links a:hover {
    text-decoration: none;
    color: #000;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.55);
    padding: 7px;
}

.cover-inner {
    width: 100%;
    height: 100%;
    border: 3px double #000;
}

.team_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.team_cover_inner {
    width: 100%;
    height: 100%;
    border-top: 5px solid #efc337;
}

/*----------------------------------------------------------------
    Portfolio
----------------------------------------------------------------*/

a:hover {
    text-decoration: none;
/*    font-style: italic;*/
}

.margin_fix {
    margin-top: 56px;
}

.center-align {
    text-align: center;
}

.fa-5x {
    color: #BDBDBD;
/*    color: #000;*/
}

.fa-5x:hover{
    color: #fafafa;
/*    color: rgba(0, 0, 0, 0.5)*/
}

.fa-1x:hover {
    color: #efc337;
}

.portfolio_desc p a {
    font-weight: 400;
    text-decoration: none;
    color: #000;
}

.portfolio_desc p a:hover {
    color: #efc337;
    text-decoration: none;
/*    font-style: italic;*/
}

.portfolio_title h2 {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 3px;
    font-weight: 300;
}

.portfolio_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 10px;
    font-weight: 400;
}

.portfolio_p {
    font-size: 14px;
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'orpheuspro', serif;
}

.work-filter {
    margin-bottom: 20px;
}

.work-filter ul li {
    display: inline-block;
}

.work-filter ul li a {
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.work-filter ul li a:hover {
    font-weight: 500;
    color: #efc337;
    text-decoration: none;
}

.work-filter ul li a.active {
    font-weight: 700;
    color: #efc337;
    text-decoration: none;
}

.mix {
    display: none;
}

.work-item {
    width: 33%;
    position: relative;
}

.work-item > img {
    display: block;
    height: auto;
    max-width: 100%;
/*
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
*/
}

figure.mix figcaption {
    padding: 20%;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
}

figure.mix figcaption::before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    content: '';
}

figure.mix figcaption,figure.mix figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure.mix figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure.mix:hover a {
    margin-top: 1em;
    display: inline-block;
    color: #fafafa;
    font-size: 10px;
    padding-left: 10px;
    padding-right: 5px;
    margin-top: 25px;
/*    background: #000;*/
}

figure.mix a:hover {
    color: #efc337;
    text-decoration: none;
}

figure.mix figcaption::before,figure.mix p {
    opacity: 0;
    -webkit-transition: opacity .35s 0 .35s;
    transition: opacity .35s transform .35s;
    -webkit-transform: scale(0);
    transform: scale(0);
}

figure.mix:hover figcaption::before,figure.mix:hover p {
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 300;
    font-family: 'futura-pt', sans-serif;
    color: #BDBDBD;
/*    color: #000;*/
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.mix:hover figcaption::before,figure.mix:hover p.light_text {
    color: #000;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

figure.mix:hover figcaption {
    background-color: rgba(0, 0, 0, 0.9);
}

figure.mix:hover figcaption.light {
    background-color: rgba(255, 255, 255, 0.3);
}

figure.mix:hover img {
    opacity: 0.4;
}

.portfolio_block h3 {
    text-transform: uppercase;
/*    margin-bottom: 20px;*/
    letter-spacing: 1px;
    font-size: 32px;
/*    margin-top: 150px;*/
}

.portfolio_block h3.inspiro-title {
    letter-spacing: 2px;
}

.portfolio_block h3.inspiro-heading {
    letter-spacing: 1px;
}

.portfolio_block h3.ugly2 {
    color: black;
}

.portfolio_block h3.ugly2:hover {
    text-decoration: underline;
}

.work_area ul {
    padding-left: 0px;
}

.work_area p {
    line-height: 22px !important;
}

.work_area p.single {
    margin-top: 16px;
}

.work_area .btn.btn-services.btn-lg.full-length {
    width: 150px;
}

.project-item {
    overflow: hidden;
}

.project-item.double {
    line-height: 24px !important;
}

/*----------------------------------------------------------------
    Features
----------------------------------------------------------------*/

.features {
    background: url(../images/features.png) 0% center no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.features:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #fafafa;
    border-left: 3000px solid transparent;
}

.features:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #fafafa;
    border-right: 3000px solid transparent;
}

.single_feature i {
    font-size: 70px;
    color: #efc337;
/*    line-height: 1.5em;*/
}

.single_feature h2 {
    color: #fafafa;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 35px;
}

.single_feature h2.icon-fix {
    margin-top: 10px;
}

.single_feature p {
    color: #fafafa;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}

.features h2 {
    margin-top: 0px;
}

img.bootstrap {
    display: block;
    width: 60px;
    margin: 0px auto 10px auto;
}

/*----------------------------------------------------------------
    Skills
----------------------------------------------------------------*/

.skills {
    background: url(../images/code.jpg) center 40% no-repeat;
    width: 100%;
    overflow: hidden;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.skills:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #fafafa;
    border-left: 3000px solid transparent;
}

.skills:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #fafafa;
    border-right: 3000px solid transparent;
}

.skills .skills_title h2 {
    text-transform: none;
    letter-spacing: 2px;
    line-height: 25px;
}

.skills_title h2 {
    font-size: 1em;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

.skills_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}

.chart {
    position: relative;
    display: inline-block;
    margin: 1em;
    width: 136px;
    height: 130px;
    text-align: center;
}

.chart canvas {
    width: 130px;
    height: 130px;
}

.chart-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.percent,.count-number,.count-number-done {
    color: #fafafa;
    font-weight: 400;
    font-size: 20px;
    font-family: 'PT Mono';
    line-height: 1.7;
    letter-spacing: 3px;
}

.text-light .percent,.text-light .count-number,.text-light .count-number-done {
    color: #fafafa;
}

.percent:after {
    content: '%';
}

.chart-title,
.count-subject {
    font-weight: 400;
    font-size: 20px;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 3px;
    color: #fafafa;
}

div.row.margin.text-center {
    margin-bottom: 85px;
}

/*----------------------------------------------------------------
    Pricing
----------------------------------------------------------------*/

.pricing_title h2 {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 3px;
    font-weight: 300;
}

.pricing_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 10px;
    font-weight: 400;
}

.pricing_p {
    font-size: 14px;
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 300;
}

.pricing .plan {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.pricing .plan li > strong {
    padding: 8px 10px;
    color: #000;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
}

.pricing .plan li.plan-price {
    border-top: 0;
    margin: 20px auto;
    font-size: 50px;
}

.pricing .plan li.plan-action {
    margin-top: 50px;
    border-top: 0;
}

.btn-services {
    color: #fafafa;
    background-color: #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.plan-action a:hover {
    color: #fafafa;
    text-decoration: none;
}

.pricing .plan {
    border:5px solid #EFC337;
}

.pricing .plan li.plan-name {
    font-family: 'futura-pt', sans-serif;
    padding: 40px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #222;
    font-weight: 800;
}

.pricing .plan .price {
    font-family: 'PT Mono';
    letter-spacing: 10px;
    font-weight: 300;
    font-size: 50px;
    color: #000;
}

.pricing .plan li {
    padding: 15px 20px;
    color: #000;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
}

/*----------------------------------------------------------------
    Facts
----------------------------------------------------------------*/

.facts {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background: url(../images/facts.png) center center no-repeat;
    background-attachment: fixed;
}

.facts:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #fafafa;
    border-left: 3000px solid transparent;
}

.facts:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #fafafa;
    border-right: 3000px solid transparent;
}

.count-item i {
    font-size: 60px;
    color: #efc337;
}

.count-item {
    display: inline-block;
    margin: 10px auto 20px;
    color: #000;
    font-size: 20px;
    padding-left: 30px;
    text-align: center;
}

.count-name-intro {
    color: #fafafa;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 400;
}

.timer {
    color: #fafafa;
    font-weight: 400;
    font-size: 30px;
    padding: 50px 0 32px;
    letter-spacing: 5px;
    font-family: 'PT Mono';
    line-height: 0.34;
}

/*----------------------------------------------------------------
    Blog news
----------------------------------------------------------------*/

.blog_title h2 {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 80px;
    letter-spacing: 3px;
    font-weight: 300;
}

.blog_title.edited h2 {
    margin-top: 4px;
    text-align: left;

}

.blog_title.edited {
    padding-left: 40px;
}

.blog_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: black;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 7px;
    font-weight: 400;
    text-shadow: 2px 1.7px rgba(242,212,162, 0.65);
}

.blog_title.edited span {
    text-align: left;
    font-size: 28px;
}


.blog_title ul {
    padding-left: 12px;
    color: black;
}

.blog_title ul li {
    position: relative;
/*
    list-style-position: outside;
    display: list-item;
*/
    
/*    display: inline-block;*/
    list-style: none;
    font-size: 17px;
    letter-spacing: 0.7px;
    font-weight: 300;
    padding-top: 12px;
    padding-left: 10px;
}

.blog_title ul.indent li {
    padding-left: 10px;
}

.blog_title ul li a {
    font-family: 'futura-pt', sans-serif;
    color: black;
}

.blog_title ul li a:hover,
.blog_title ul li a:focus {
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
    text-decoration: none;
}

.blog_title ul li a:hover i,
.blog_title ul li a:focus i {
    color: #F2D4A2;
}

/*
.blog_title ul.indent li:hover {
    padding-left: 16px;
    text-shadow: 0.9px 0.9px black;
    color: #F2D4A2;
}
*/

.blog_title ul li:before {
  content: "￫";
  position: absolute;
  left: -12px;
  top: 11.5px;
}

.blog_title ul.no-bullets {
    margin-left: -8px;
    padding-left: 0px;
}

.blog_title ul.no-bullets li:before {
    content: none;
}

.blog_title ul.vert-align li a {
/*    vertical-align: text-bottom;*/
}

.blog_title ul li b {
    font-weight: 500;
}

.blog li i {
    padding-right: 5px;
    color: black;
    opacity: 95%;
/*    vertical-align: middle;*/
}

.blog a:hover i {
    color: #F2D4A2;
}

.blog li i.fa-smile-o {
     -webkit-text-stroke: 0.25px #C8A47E;
}

.blog_title ul.no-bullets.vert-align i.fa-smile-o {
    padding-right: 0px;
} 

.blog li i.fa-envelope-o {
    transform: scale(0.85);
    margin-left: -1.55px;
}

.blog li i.fa-instagram {
    transform: scale(1.03);
    margin-left: 0.47px;
}

.blog li i.fa-facebook-square {
    transform: scale(0.95);
    margin-left: 0.1px;
}


.blog li i.fa-linkedin-square {
    margin-left: -0.4px;
}

.blog_title .portfolio_p {
    letter-spacing: 3px;
    margin-bottom: 6px;
    margin-top: 86px;
}

.blog_p {
    margin-bottom: 25px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 14px;
}

.post h3 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 4.5px;
    font-weight: 900;
    color: #000;
    line-height: 2em;
    margin-bottom: 25px;
}

/*
.blog ul {
    margin-top: 14px;
    padding-left: 0;
}
*/

.blog img {
    display: inline;
    margin-top: 15px;
    width: auto;
    object-fit: cover;
    margin-left: -40px;
}

/*
.blog ul li {
    font-weight: 300;
    color: #777;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
*/

.blog p {
    margin-bottom: 25px;
    color: #000;
    font-weight: 300;
    letter-spacing: 1px;
}

.blog .fa-minus {
    color: #424242;
}

.post a.readmore {
    color: #efc337;
    text-decoration: none;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
}

.hover-overlay {
    background-color: #fafafa;
    -webkit-transition: background-color 0.15s ease;
    -moz-transition: background-color 0.15s ease;
    -ms-transition: background-color 0.15s ease;
    -o-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease;
}

.hover-overlay h3,
.hover-overlay p {
    color: #000;
    -webkit-transition: color 0.15s ease;
    -moz-transition: color 0.15s ease;
    -ms-transition: color 0.15s ease;
    -o-transition: color 0.15s ease;
    transition: color 0.15s ease;
}
    
img.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

div.row.blog {
    margin-bottom: 0px;
}

a.guzheng-vid {
    font-weight: 500;
    color: #efc337;
}

a.guzheng-vid:hover {
    color: black;
}

/*----------------------------------------------------------------
    Clients
----------------------------------------------------------------*/

.clients {
	background: url(../images/clients.jpg) center center no-repeat;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.clients:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #fafafa;
    border-left: 3000px solid transparent;
}

.clients:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 194px solid #fafafa;
    border-right: 3000px solid transparent;
    margin-top: -50px;
}

.clients div.row.margin.text-center {
    margin-top: 130px;
/*    width: 100%;*/
}

.clients_title h2 {
    font-size: 1em;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

.clients_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}

a.resume-button {
    background-color: #fafafa;
    opacity: 0.5;
}

#owl-carousel {
    top: 50px;
    margin-bottom: 70px;
}

#owl-carousel .height-control img {
    height: 100px;
/*    margin-top: 28px;*/
}

#owl-carousel .width-control img {
    width: 100px;
}

#owl-carousel .midnightsun img {
    height: 115px;
    margin-top: 15px;
}

.carousel_adjust {
    margin: 0 auto;
}

/*----------------------------------------------------------------
    Contact
----------------------------------------------------------------*/

.contact_title h2 {
    font-size: 1em;
    color: #000;
    text-transform: uppercase;
    margin-top: 50px;
    letter-spacing: 3px;
    font-weight: 300;
}

.contact_title h2.no-margin-top {
    margin-top: 0px;
}

div.contact_title.text-center {
    margin-bottom: 30px;
}

.contact_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 10px;
    font-weight: 400;
}

.contact_p {
    font-size: 14px;
    color: #000;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: 300;
}

.detail h2 {
    letter-spacing: 3px;
    color: #000;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;
}

.detail h3 {
    letter-spacing: 1px;
    color: #777;
    font-weight: 300;
    font-size: 11px;
}

.detail p {
    color: #777;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
}

.detail i.icon-basic-smartphone {
    color: #000;
    font-size: 60px;
}

#contact_form {
    margin-top: 50px;
}

#contact_form input {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid;
    border-bottom-color: #000;
    font-family: 'futura-pt', sans-serif;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    -webkit-transition: border-bottom-color 0.3s ease-in-out;
    -moz-transition: border-bottom-color 0.3s ease-in-out;
    -ms-transition: border-bottom-color 0.3s ease-in-out;
    -o-transition: border-bottom-color 0.3s ease-in-out;
    transition: border-bottom-color 0.3s ease-in-out;
}

#contact_form input:focus {
    outline: 0;
    background: transparent;
    border-bottom-color: #efc337;
}

#contact_form label {
    width: 90%;
    margin: 10px;
    color: #efc337;
}

#contact_form textarea:focus {
    outline: 0;
    background: transparent;
    border-bottom: 2px solid #efc337;
}

#contact_form textarea {
    width: 100%;
    height: 110px;
    padding: 10px;
    padding-bottom: 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid;
    border-bottom-color: #000;
    font-family: 'futura-pt', sans-serif;
    color: #000;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 300;
    -webkit-transition: border-bottom-color 0.3s ease-in-out;
    -moz-transition: border-bottom-color 0.3s ease-in-out;
    -ms-transition: border-bottom-color 0.3s ease-in-out;
    -o-transition: border-bottom-color 0.3s ease-in-out;
    transition: border-bottom-color 0.3s ease-in-out;
}

#result {
    font-family: 'futura-pt', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 18px;
    text-align: center;
    font-style: italic;
    color: red;
}

.fa-minus {
    color: #efc337;
    transform: scale(3,1);
}
s
/*----------------------------------------------------------------
    Subscribe
----------------------------------------------------------------*/

.subsc_title h2 {
    font-size: 1em;
    color: #fafafa;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
}

.subsc_title span {
    font-family: 'linotype-didot-headline', serif;
    font-size: 3em;
    color: #EFC337;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 400;
}

.subscribe {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

.subscribe:before {
    top: 0;
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    pointer-events: none;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top: 150px solid #C8A47E;
    border-right: 3000px solid transparent;
/*    border-image-source: url(../images/topography.svg);*/
}

.subscribe .fEmail {
    float: left;
    font-size: 11px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 400;
    border: 0;
    background: #fafafa;
    color: #000;
    padding: 11px;
    width: 350px;
    border-radius: 0;
    padding-left: 20px;
    letter-spacing: 1px;
}

.subscribe .sbc-btn {
    text-transform: uppercase;
    font-size: 11px;
    font-family: 'futura-pt', sans-serif;
    font-weight: 900;
    float: left;
    color: #fafafa;
    border-radius: 0;
    text-decoration: none;
    background: #EFC337;
    padding: 11px;
    padding-right: 10px;
    padding-left: 10px;
    letter-spacing: 1px;
}

.socials ul {
    margin-left: 24px;
    padding-left: 0;
    display: inline-block;
}

.socials ul li {
    margin-bottom: 20px;
    margin-right: 23px;
    float: left;
    text-align: center;
    list-style: none;
    font-size: 20px;
}

.socials ul li a {
    color: #fafafa;
}

.socials ul li a:hover {
    color: #e4ca79;
    text-decoration: none;
}

.subscribe .no-margin-bottom {
    margin-bottom: 0px;
}

/*----------------------------------------------------------------
   Footer
----------------------------------------------------------------*/

footer {
    background: #252525;
    position: relative;
}

.copyright_text {
/*    padding-top: 50px;*/
    padding-bottom: 16px;
    margin-top: -16px;
}

.copyright_text p {
    color: black;
    font-size: 11px;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-weight: 400;
}

.copyright_text a {
    color: #fafafa;
/*    text-transform: uppercase;*/
    font-weight: 500;
    text-decoration: none;
}

.copyright_text a:hover {
    color: #efc337;
}

.copyright_text i {
/*    color: #645340;*/
    color: black;
/*    z-index: 1000 !important;*/
    padding-bottom: 8px;
}

.black-fix {
    background-color: #E7D8C5;
}

/*----------------------------------------------------------------
    Single Portfolio Page
----------------------------------------------------------------*/

.breadcrumbs_block {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
/*    background: url(../images/boulder.jpg) center center no-repeat;*/
}

.breadcrumbs_block:after {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 150px solid #C8A47E;
    border-left: 3000px solid transparent;
}

.breadcrumbs_block h2 {
/*
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 17px;
    font-weight: 800;
*/
    
    color: black;
/*    text-transform: uppercase;*/
    font-size: 18px;
    letter-spacing: 3px;
    font-style: italic;
    margin-top: 32px;
    font-weight: 800;
    line-height: 32px;
    
    /*new*/
    
/*
    font-size: 30px;
    text-transform: none;
    font-style: normal;
    font-weight: 500;
    letter-spacing: normal;
*/
}

.breadcrumbs_block p {
/*
    color: #fafafa;
    letter-spacing: 1px;
    font-weight: 300;
*/
    
    color: black;
    line-height: 26px;
    font-size: 16px;
    /* line-height: 1.4em; */
    letter-spacing: 0.5px;
    font-weight: 300;
    margin-top: 25px;
    width: 80%;
}

#owl-slider .item img {
    display: block;
    width: 100%;
    height: auto;
/*    cursor: url(../images/next-button.png), e-resize;*/
}

#owl-slider .item img.cursor {
    cursor: auto;
}

.owl-theme .owl-controls .owl-buttons div {
    display: inline-block;
    zoom: 1;
    margin: 5px;
    padding: 3px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background: transparent;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
}

.owl-theme .owl-buttons i {
    margin-top: 2px;
    font-size: 40px;
    color: #efc337;
}

div.owl-buttons {
    margin-bottom: 16px;
    padding-top: 4px;
}

.project-details p {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 25px;
}

.project_feature i {
    color: #000;
/*    font-size: 50px;*/
}

.project_feature i.emphasis {
    font-size: 18px;
}

.project_feature h2 {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 3px;
/*    font-weight: bold;*/
    font-style: italic;
    margin-top: 32px;
}

.project_feature h2.tighter {
    letter-spacing: 2px;
}

.project_feature p,
.project_feature p a {
    color: #000;
    line-height: 28px;
    font-size: 18px;
/*    line-height: 1.4em;*/
    letter-spacing: 0px;
    font-weight: 300;
    margin-top: 20px;
} 

.project_feature p.img_descript,
.project_feature p.img_descript a {
    font-family: 'futura-pt', sans-serif;
    font-weight: 500;
    letter-spacing: normal;
    margin-top: 20px;
    padding-bottom: 28px;
/*    font-style: italic;*/
}

.project_feature p.img_descript a {
    font-size: 16px;
    font-weight: 400;
}

.project_feature p.img_descript a:hover,
.project_feature p.img_descript a:focus {
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
    text-decoration: none;
}

.project_feature p.img_descript.project_title {
    width: 30%;
    float: left;
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    margin-top: 18px;
}

.project_feature p.img_descript.project_descript {
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    padding-right: 20px;
    margin-bottom: -8px;
}

.project_feature p.img_descript.project_title.left,
.project_feature p.img_descript.project_descript.left {
    margin-left: 12px;
}

.project_feature p.img_descript.project_descript.left {
    margin-right: 22px;
}

.img_descript.project_title.thicker a {
    font-weight: 500;
    margin-top: -2px;
}

.project_feature.left-align h3,
.project_feature.left-align h2,
.project_feature.left-align p {
    text-align: left;
}

.project_feature.left-align h3 {
/*    color: white;*/
    text-shadow: 2px 1.7px rgba(242,212,162,0.45);
    color: black;
    text-align: right;
    margin-right: 16px;
}

/*
.project_feature.left-align h3.left-adjust {
    opacity: 20%;
    margin-left: -4.95em;
    font-size: 64px;
    transform: rotate(90deg);
    left: 0;
    position: absolute;
}
*/

/*
.project_feature.left-align h3.left-adjust {
    opacity: 20%;
    margin-right: -.95em;
    font-size: 64px;
    transform: rotate(90deg);
    right: 0;
    position: absolute;
}
*/

/*
.project_feature.left-align h3.right-adjust {
    opacity: 20%;
    margin-left: -.35em;
    font-size: 64px;
    transform: rotate(-90deg);
    left: 0;
    position: absolute;
}
*/

.project_feature.left-align h3 {
    margin-bottom: 18px;
    margin-right: 0px;
    opacity: 90%;
    font-size: 40px;
}

.project_feature.left-align h3.right-adjust {
    text-align: right;
    margin-right: -64px;
/*
    text-align: left;
    margin-left: 80px;
*/
}

/*
.project_feature.left-align h3.right-adjust {
    opacity: 20%;
    margin-right: -4.95em;
    font-size: 64px;
    transform: rotate(-90deg);
    right: 0;
    position: absolute;
}
*/

.work_info {
    list-style: none;
}

.work_info.portfolio_item {
    margin-top: 20px;
/*    text-align: center;*/
}

.work_info.portfolio_item p {
    font-size: 16px;
    line-height: 24px;
}

.portfolio_item a.small-btn {
    margin-top: 6px;
    width: 220px;
}

.portfolio_item.thinner-link b {
    font-weight: 500;
}

.work_info h3 {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    color: #000;
    padding-bottom: 15px;
}

.work_info p {
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 25px;
    border-bottom: 1px dashed #F0F0F0;
}

.work_info p strong {
    font-weight: 600;
    letter-spacing: 1px;
}

.work_info p a {
    color: #efc337;
    font-weight: 600;
}

.work_info p a:hover {
    color: #000;
    text-decoration: none;
}

a.invision {
    color: #efc337;
    font-weight: 400;
    font-family: 'futura-pt', sans-serif;
}

a.invision:hover {
    color: #000;
    text-decoration: none;
}

.quotes {
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 17px;
}

.quotes a {
    font-family: 'futura-pt', sans-serif;
    color: black;
    font-weight: 400;
    margin-bottom: 12px;
    font-size: 17px;
}

.quotes a:hover {
    color: #F2D4A2;
}

.h5-center {
    text-align: center;
}

.portfolio_block h3.h5-portfolio {
    margin-top: 90px;
    margin-bottom: 30px;
    text-transform: none;
}

img.portfolio-width {
    width: 100%;
}

img.portfolio-width.portfolio-top {
    margin-top: 10px;
}

p.googleplay {
    font-weight: 500;
    margin-top: 24px;
    margin-bottom: 20px;
}

i.fa-heart:hover {
    color: black;
}

img.portfolio_img {
    width: 100%;
    border: 8px solid black;
    border-radius: 1px;
}

img.portfolio_img.case_study {
    margin-top: 24px;
}

.header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

/* ------------------------------------------------------------------
Gallery box
------------------------------------------------------------------- */

.gallery-box {
	text-align: center;
	margin: 35px 0;
}

.gallery-box-text {
	font-size: 12px;
}

.gallery-box .gallery {
	display: block;
	margin: 20px 0 0;
}

.gallery-box .gallery:after {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	   -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	     -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	        transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.gallery-box:hover .gallery:after {
	opacity: 1;
}

.gallery-box .gallery-link {
	display: block;
	margin: 20px 0 0;
}

.gallery-box .gallery-link:after {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	content: "";
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	   -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	     -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	        transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}

.gallery-box:hover .gallery-link:after {
	opacity: 1;
}

/* ------------------------------------------------------------------
Giphy
------------------------------------------------------------------- */

img.giphy {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* new additions */

.container.uncollapse-margin {
    max-height: 100px;
}

.pattern-dots-md {
    background-image: radial-gradient(rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    transform: translate(-30px, 30px);
/*    margin-left: 40px;*/
}

.pattern-dots-md.left {
    transform: translate(-30px, 30px);
    margin-left: 40px;
    margin-right: -40px;
}

.pattern-dots-md.left img.portfolio_img.case_study2 {
    transform: translate(-30px, -30px);
}


img.portfolio_img.case_study2 {
    margin-top: 20px;
    transform: translate(30px, -30px);
}

.fa-caret-left {
    display: inline;
    margin-right: 4px;
}

.icon-basic-lightbulb {
    font-size: 20px;
}

.entire-left {
/*    transform: translateX(44px)*/
}

.entire-right {
/*    transform: translateX(24px)*/
}

.vert-line {
    width: 1px;
    height: 180px;
    margin-top: 0px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.talk {
    text-align: center;
    color: black;
}

.talk:hover,
.talk:focus {
    text-shadow: 1.2px 1.2px black;
    color: #F2D4A2;
    text-decoration: none;
}

.talk {
    z-index: 1030 !important;
    text-align: center;
}

/*
#VERT-CENTRE {
    z-index: 1030 !important;
}*/

.sticky {
    position: -webkit-fixed;
    position: fixed;
    z-index: 0;
    margin-bottom: 140px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.timeline {
    margin-top: 132px;
    z-index: 2000;
}

.timeline h2 {
    font-weight: 500;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 1em;
    /* font-family: 'orpheuspro', serif; */
    font-style: normal;
    margin-bottom: 0px;
    margin-top: 0px;
}

.timeline a {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.timeline h2:hover,
.timeline h2:focus {
    text-shadow: 0.7px 0.7px #C8A47E;
    color: black;
    text-decoration: none;
}

/* copy mail */

.mailto-link {
	position: relative;
	padding: 8px 0;
}
.mailto-message {
	top: 1px;
	left: 50%;
	margin-bottom: -5px;
	transform: translate(-50%, -100%);
	position: absolute;
	display: none;
	width: auto;
	white-space: nowrap;
	font-size: 12px;
	background-color: black;
	color: white;
	padding: 2px 6px;
	border-radius: 2px;
	&:after {
		content: '';
	}
}
.mailto-link:hover .mailto-message,
.mailto-link:focus .mailto-message,
.mailto-link:focus-within .mailto-message {
	display: inline;
    font-size: 8px;
    /* background: transparent; */
    margin-top: -28px;
    text-shadow: none;
    font-family: 'futura-pt', sans-serif;
    letter-spacing: 2px;
    color: #F2D4A2;
    /* text-align: left; */
    position: relative;
    margin-bottom: 13px;
    width: fit-content;
    text-align: right;
    /* float: left; */
    margin-right: -50px;
    margin-left: -140px;
    vertical-align: middle;
    left: 160px;
}

/*
.mailto-link:hover .hover-fix,
.mailto-link:focus .hover-fix,
.mailto-link:focus-within .hover-fix {
    margin-bottom: 16px !important;   
}*/

section {
    overflow-x: hidden !important;
}